<nav class="navbar navbar-expand-lg navbar-light bg-danger">

<%= link_to "Create client", new_client_path, class: "btn btn-danger text-light"%>
<%= link_to "List client", clients_path, class: "btn btn-danger text-light"%>
 
</nav>